/*!
 * Adminbag v1.3 (http://adminbag-v1.3.bittyfox.com/)
 * Copyright AdminBag Company © 2017 
 * 
 */
body {
    background-color: #292929;
    color: #96a2b4;}

body.login {
    background: #2f353b;
}
.uppercase {
    text-transform: uppercase !important;
}

.page-header.navbar {
    background-color: #292929;
    border-bottom: 1px solid #292929;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 2px 3px -2px rgba(0, 0, 0, 0.12), 0 1px 8px 0 rgba(0, 0, 0, 0.2);
}

.input-group-addon {
    background-color: #2f353b;
    border: 1px solid #2f353b;
     color: #96a2b4;
}
.page-header.navbar .menu-toggler {
    background-image: url("../images/sidebar_toggler_icon_darkblue.png");
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > .username, 
.page-header.navbar .top-menu .navbar-nav > li.dropdown-user > .dropdown-toggle > i {
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle:hover, .page-header.navbar .top-menu .navbar-nav > li.dropdown.open .dropdown-toggle {
    background: none;
    color: #ffffff;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
    color: #ffffff;
}
 
.page-sidebar, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover {
    background-color: #292929;
}

.page-sidebar-closed .page-sidebar .sidebar-search.open .input-group, .page-sidebar-closed .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search.open .input-group {
    background-color: #292929;
}
.page-content {
    background-color: #2f353b ;
    margin-top: 0;
    padding: 0;
}
.page-sidebar.collapse {
    display: block;
    max-height: none !important;
}
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    overflow: visible !important;
    padding-bottom: 0;
}

.page-sidebar .sidebar-search .input-group, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group {
    border-bottom: 1px solid #435060;
}

.page-sidebar .sidebar-search .input-group .form-control, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .form-control {
    background-color: #292929;
    color: #4e5c6f;
}

.form-control {
    outline: 0 none !important;
}
.btn, .form-control {
    box-shadow: none !important;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: none;
    border-top-color: transparent;
    color: #fff;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.open , .page-sidebar-menu-light .page-sidebar .page-sidebar-menu > li.active , .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active , .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active  {
    background: #293846 none repeat scroll 0 0;
    border-left: 4px solid #292929;
}


.page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-menu-light .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-menu-light .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: none !important;
     color: #fff; 
}

.page-sidebar .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar .page-sidebar-menu .sub-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li:hover > a {
    background: #2e2828 none repeat scroll 0 0 !important;
}

.page-sidebar .page-sidebar-menu > li.open > a, .page-sidebar .page-sidebar-menu > li:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a {
    background: #191919 none repeat scroll 0 0;
    color: #b4bcc8;
}

.page-sidebar .page-sidebar-menu .sub-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu > li > a {
    color: #b4bcc8;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    color: #708096;
}

.page-sidebar .page-sidebar-menu > li.heading > h3, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.heading > h3 {
    font-size: 14px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.page-sidebar .page-sidebar-menu > li.active > a, .page-sidebar .page-sidebar-menu > li.active:hover > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a {
    border-top-color: rgba(0, 0, 0, 0);
    color: #ffffff;
    background: #191919; 
}


 
.page-sidebar-menu-light .page-sidebar:hover .page-sidebar-menu > li.active > a {
    background: #191919;   
}

/*
.page-sidebar .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar .page-sidebar-menu > li > a > i[class^="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class*="icon-"], .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a > i[class^="icon-"] {
    color: #6b788b;
}*/

.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #b4bcc8;
}
.page-sidebar .page-sidebar-menu li:hover > a > .arrow.open::before, .page-sidebar .page-sidebar-menu li:hover > a > .arrow::before, .page-sidebar .page-sidebar-menu li > a > .arrow.open::before, .page-sidebar .page-sidebar-menu li > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow::before{
	 color: #606c7d;
}

.page-sidebar .sidebar-search .input-group .input-group-btn .btn, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .sidebar-search .input-group .input-group-btn .btn{
    background-color: #292929;
    color: #4e5c6f;
}

.page-sidebar .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow.open::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > .arrow::before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.active > a > i {
   color: #ffffff;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
    background-color: #29aba4;
    border-color: #29aba4;
    color: #ffffff;
    z-index: 2;
}

.footer {
    background: white none repeat scroll 0 0;
    border-top: 1px solid #e7eaec;
  }

.footer a {
    color: #b4bcc8;
}


.page-header.navbar .hor-menu .navbar-nav > li.active > a, .page-header.navbar .hor-menu .navbar-nav > li.current > a {
    background: #292929  none repeat scroll 0 0 ;
    color: #fff;
}

.page-header.navbar .hor-menu .navbar-nav > li.active .selected, .page-header.navbar .hor-menu .navbar-nav > li.current .selected {
    border-top: 6px solid #292929 ;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a, .page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu li > a > i {
    color: #c6cfda;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #c6cfda;
}




.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.active > a:hover, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current > a:hover {
    background: #fff none repeat scroll 0 0;
    color: #292929;
}

.page-header.navbar .hor-menu.hor-menu-light  .navbar-nav > li.active .selected, .page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li.current .selected {
    border-top: 6px solid #fff;
}

.page-header.navbar .hor-menu .navbar-nav > li.mega-menu-dropdown > .dropdown-menu .mega-menu-content .mega-menu-submenu li > h3, .page-header.navbar .hor-menu .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li > a {
    color: #ffffff;
}

.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu li > a {
    color: #000;
}


.page-header.navbar .hor-menu.hor-menu-light .navbar-nav > li .dropdown-menu {
    background: #fff none repeat scroll 0 0;
    box-shadow: 5px 5px rgba(63, 79, 98, 0.2);
}


.page-header.navbar .hor-menu .navbar-nav > li .dropdown-menu { 
    background: #202020 none repeat scroll 0 0;
    box-shadow: 5px 5px rgba(63, 79, 98, 0.2); 
}


.page-sidebar .page-sidebar-menu > li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li > a {
    color: #b4bcc8;
}

a {
    color: #49b6d6;
    text-decoration: none;
}

a:hover, a:focus {
    color: #74d5f2;
}

.library-menu span {
    background-color: #fff;}

.library-menu.active span.one,
.library-menu.active span.two,
.library-menu.active span.three {
    background-color: #fff;
}

.page-sidebar .page-sidebar-menu .sub-menu { background: #191919; }

.project-list .progress-bar {
    background-color: #292929;
}

.progress-mini .progress-bar {
    background-color: #e35b5a;
}
.btn-link:hover, .btn-link:focus, .btn-link:active, .btn-link.active, .open .dropdown-toggle.btn-link {
    color: #49b6d6;
}

.fc-event, .fc-agenda .fc-event-time, .fc-event a {
   background-color: #49b6d6;
    border-color: #49b6d6; 
}


.fc-state-active {
    background-color: #e1e5ec;
    border-color: #e1e5ec;
    color: #292929;
}

.ms-container .ms-selectable li.ms-hover,
.ms-container .ms-selection li.ms-hover{
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  background-color: #292929;
}
.slick-prev::before, .slick-next::before {
    color: #292929 !important;
}
.slick-list {
    border: 1px solid #292929;
}
.slick-dots li.slick-active button::before {
    color: #292929;
}
.product-price {
    background-color: #292929;}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #49b6d6;
    border-color: #49b6d6;   
}

.product-name:hover, .product-name:focus {
    color: #292929;
}

.text-navy {
    color: #49b6d6;
}

.form-control:focus {
    border-color: #292929;  
}
.profile-page .page-content {
    background: #2f353b none repeat scroll 0 0;
}



table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    background-color: #292929;
    }


table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child::before {
    background-color: #292929;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #222;
    text-decoration: none;
}

.irs-from::after, .irs-to::after, .irs-single::after {
    border-color: #292929 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);}

    .irs-from, .irs-to, .irs-single {
    background: #292929 none repeat scroll 0 0;}

    .page-header.navbar .search-form {
    border: 1px solid #999;
}
.page-header.navbar .btn.submit {
    color: #fff;
    margin-top: 3px;
}

.page-header .form-control::-moz-placeholder {
    color: #f2f2f2;
    opacity: 1;
}

.ibox-title{
    background: #292929;
    border-color: #292929;
    }

.widgets-container{
    background: #292929;
    border-color: #292929;
    }


.dashboard-header{
     background-color: #292929;   
}

.border-bottom {
    border-bottom: 1px solid #222 !important;
}
.contact-box.center-version {
    border: medium none;
    padding: 0;
}

.contact-box.center-version > a {
    background-color: #292929;    
}

.contact-box .contact-box-footer{
    background-color: #292929; 
    border: medium none;   
}

.amcharts-graph-column-front:hover {
    fill: #4dbecb;
    stroke: #4dbecb;
}

.table-hover > tbody > tr:hover {
    background-color: #222222;
}

.footer {
    background: #292929 none repeat scroll 0 0;
    border-top: 1px solid #e7eaec;
}

.tabs-container .nav-tabs > li.active > a, .tabs-container .nav-tabs > li.active > a:hover, .tabs-container .nav-tabs > li.active > a:focus{
     background-color: #292929;
     border-color: #292929;
     color: #f2f2f2
 }
.tabs-container .nav-tabs{
     border-bottom: none;
}
 .tabs-container .panel-body{
       background-color: #292929;
     border-color: #292929; 
      }

      .table .table {
     background-color: #292929;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > th,
.table-bordered {
  border-top: 1px solid rgba(120, 130, 140, 0.2);
}

.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid rgba(120, 130, 140, 0.2);
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid rgba(120, 130, 140, 0.2);
}
tbody {
  color: #797979;
}
th {
  color: #666666;
  font-weight: 500;
}
.table-bordered {
  border: 1px solid rgba(120, 130, 140, 0.2);
}

.borderedTable {
    background: #222222 none repeat scroll 0 0;
    border: 1px solid #292929;
}

tbody > tr:nth-of-type(2n+1) {
    background-color: #333333;
}

.table-striped > tbody > tr:nth-of-type(2n+1){
    background-color: #333333;
}

tbody > tr:nth-of-type(2n+2) {
    background-color: #454444;
}

.cd-horizontal-timeline .events a{
     color: #96a2b4;
}

.fc-content-skeleton tbody > tr:nth-of-type(2n+1)
{
    background: none;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover {
    border-color: #292929;
    color: #96a2b4;
}

.page-heading {
    background: #292929 none repeat scroll 0 0;
    border-top: 0 none;
    padding: 25px 10px 20px;
}
.breadcrumb{background: none;}

.fa-item:hover, .simplelineicons-demo .item-box .item:hover {
    background-color: #222;
    color: #96a2b4;
}

.simplelineicons-demo .item-box .item{
    background: #292929 none repeat scroll 0 0;
    color: #96a2b4;
}

.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu::before{
    border-bottom-color: #202020;
    bottom: 100%;
}
.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu::after{
     border-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 15px;
    pointer-events: none;
    position: absolute;
    width: 0;
}

.dropdown-menu {
    background-color: #202020;
    border: 1px solid #202020;
     box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}


.page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-menu > li > a {
    color: #b4bcc8;
}

.dropdown-menu > li > a > [class*=" icon-"], .dropdown-menu > li > a > [class^="icon-"] {
    color: #b4bcc8;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
    background-color: #292929;
}
.social-feed-box{
    background-color: #292929;
    border: 1px solid #292929;
}

.social-footer {
    background: #4f4b4e none repeat scroll 0 0;
    border-top: 1px solid #4f4b4e;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #292929;
    border-color: #337ab7;
}
.tabs-container .tabs-left > .nav-tabs .active > a, .tabs-container .tabs-left > .nav-tabs .active > a:hover, .tabs-container .tabs-left > .nav-tabs .active > a:focus{
    border-color: transparent;
}
.tabs-container .tabs-left .tab-pane .panel-body, .tabs-container .tabs-right .tab-pane .panel-body {
    border-top: transparent;
}

.tabs-container .tabs-right > .nav-tabs .active > a, .tabs-container .tabs-right > .nav-tabs .active > a:hover, .tabs-container .tabs-right > .nav-tabs .active > a:focus{
     border: transparent;
}

.timeline > li > .timeline-panel::before {
    border-color: rgba(0, 0, 0, 0) #292929;}

.timeline > li > .timeline-panel::after {
    border-color: rgba(0, 0, 0, 0) #292929;}

.timeline > li > .timeline-panel {
    border: 1px solid #222222;
}

.dt-buttons a.btn{
    background-image:none;
}
.chartdiv-container, .demo-container{
     background: #292929 none repeat scroll 0 0;
    border-color: #292929;
}

.mailbox-content {
    background: #292929 none repeat scroll 0 0; 
}

.mail-box-header{
     background: #292929 none repeat scroll 0 0; 
}

.mail-box-header {
    background: #292929 none repeat scroll 0 0;
    border-color: #292929;
}

.unread td {
    background-color: #f2f2f2;  
}

.mail-box{
     border-color: #292929;
     background: #292929;
}

.folder-list li a{
     color: #b4bcc8;
}

.folder-list li a:hover {
    color: #5db9cd;   
}

.folder-list li:hover i  {
    color: #5db9cd;   
}

.folder-list li i{
    color: #b4bcc8;
}

.inbox-contacts-list li > a {
    color: #b4bcc8;
}

.inbox-contacts-list li  a:hover {
    color: #5db9cd;   
}

.folder-list li {
    border-bottom: 1px solid #292929;
}

.product-box {
    border: 1px solid #96a2b4;
}

.single-product {
    background: none;
    border: none;
   
}

.article h1 {
    color: #96a2b4;   
}

.contact-box {
    background: #292929 none repeat scroll 0 0;
    border-color: #96a2b4;
}

.faq-item {
     background: #292929 none repeat scroll 0 0;
 }
.faq-item a{
    color: #b4bcc8;
}
.faq-item a:hover{
   color: #49b6d6;
}

.error-container ul.footer-links li a {
    color: #b4bcc8;
}